@page "/"

<h1>Hello, world!</h1>



<button @onclick="CreateICS" class="btn btn-primary">Create ICS</button>


<textarea class="form-control" id="exampleFormControlTextarea1" rows="20">@SerializedCalendar</textarea>

<p>Test it on https://icalendar.org/validator.html</p>